<div class="project">
  <h2 class="project-name"><a href="http://tweetlibs.herokuapp.com/" target="blank">Tweet<i class="fa fa-twitter inline-bird"></i>libs</a></h2>
  <a href="http://tweetlibs.herokuapp.com/" class="project-pic" target="blank"><%= image_tag 'tweetlibs.png', :width => "100%" %></a>
  <p class="project-description">Tweetlibs is a game where you can create a humerous story using tweets for dialogue. It is a single-page app with a Rails backend.&nbsp&nbsp<a href="https://github.com/alvarezmelissa87/rails-tweetlibs" target="blank" class="project-source">source</a></p>
  <ul>
    <li class="project-bullets">Pair programmed for over 75% of the codebase</li> 
    <li class="project-bullets">Wrote the Ajax calls to make it a single page app</li>
    <li class="project-bullets">Lead troubleshooter</li>
  </ul>
</div>
<div class="project">
  <h2 class="project-name"><a href="https://red-admirals-2014.github.io/game-buzz" target="blank">GameBuzz</a></h2>
  <a href="https://red-admirals-2014.github.io/game-buzz" class="project-pic" target="blank"><%= image_tag 'GameBuzz.png', :width => "100%" %></a>
  <p class="project-description">GameBuzz is a 2 player head to head mobile trivia game. GameBuzz is entriely client-side Javascript with a Firebase database. &nbsp&nbsp<a href="https://github.com/cdelauder/gameBuzz" target="blank" class="project-source">source</a></p>
  <ul>
    <li class="project-bullets">Wrote the core game engine</li>
    <li class="project-bullets">Wrote the Firebase module</li>
    <li class="project-bullets">Implemented promises and callbacks to handle asynch events</li>
    <li class="project-bullets">Developed the testing suite using Jasmine</li>
  </ul>
</div>
<div class="project">
  <h2 class="project-name"><a href="https://github.com/cdelauder/ghrepo" target="blank">ghrepo</a></h2>
  <a href="https://github.com/cdelauder/ghrepo" class="project-pic" target="blank"><%= image_tag 'ghrepo.png', :width => "100%" %></a>
  <p class="project-description">ghrepo is a gem available through <a href="http://rubygems.org/gems/ghrepo" target="blank">RubyGems</a> which allows users to create and clone a repository without leaving the command lines. &nbsp&nbsp<a href="https://github.com/cdelauder/ghrepo" target="blank" class="project-source">source</a></p>
  </p>
  <ul>
    <li class="project-bullets">Wrote the Github API calls</li>
    <li class="project-bullets">Added the ability to create the repository with a rails boilerplate application</li>
    <li class="project-bullets">Solved the encoding issue that was preventing the use of doge ascii art in the error message</li>
  </ul>
</div>
<div class="project">
  <h2 class="project-name"><a href="http://limitless-journey-2458.herokuapp.com" target="blank">Boot Overflow</a></h2>
  <a href="http://limitless-journey-2458.herokuapp.com" class="project-pic" target="blank"><%= image_tag 'Boot_Overflow.png', :width => "100%" %></a>
  <p class="project-description">Boot Overflow is a Stack Overflow clone utilizing Ruby on Rails and client side Javascript. &nbsp&nbsp<a href="https://github.com/cdelauder/bootOverflow" target="blank" class="project-source">source</a></p>
  <ul>
    <li class="project-bullets">Used TDD to develop the inital models</li>
    <li class="project-bullets">Implemented Ajax for the voting</li>
    <li class="project-bullets">Used Polymorphic associations for the votes</li>
  </ul>
</div>
<div class="project">
  <h2 class="project-name"><a href="http://twitterglitter.herokuapp.com/" target="blank">Glitter</a></h2>
  <a href="http://twitterglitter.herokuapp.com/" class="project-pic" target="blank"><%= image_tag 'Glitter.png', :width => "100%" %></a>
  <p class="project-description">Glitter is a uniquely styled Twitter clone built in Ruby using a Sinatra framework. &nbsp&nbsp<a href="https://github.com/cdelauder/twitter_glitter" target="blank" class="project-source">source</a></p>
  <ul>
    <li class="project-bullets">Used responsive design principles</li>
    <li class="project-bullets">Added the functionality for a global search and user authentication</li>
    <li class="project-bullets">Utilized the Gravatar API</li>
  </ul>
</div>
<div class="project">
  <h2 class="project-name"><a href="http://protected-ridge-7148.herokuapp.com/" target="blank">Pictures of Chris</a></h2>
  <a href="http://protected-ridge-7148.herokuapp.com/" class="project-pic" target="blank"><%= image_tag 'Introduce_Me.png', :width => "100%" %></a>
  <p class="project-description">This is a solo project where you can swipe through my Facebook photos using a Tinder-like interface. &nbsp&nbsp<a href="https://github.com/cdelauder/introduceus" target="blank" class="project-source">source</a></p>
  <ul>
    <li class="project-bullets">Became very familiar with the Facebook API</li>
    <li class="project-bullets">Developed a responsive swipeable interface that worked on desktop and mobile</li>
    <li class="project-bullets">Learned how to use CSS animations</li>
  </ul>
</div>