<div class="project">
  <h2 class="project-name"><a href="https://github.com/cdelauder/ghrepo" target="blank">ghrepo</a></h2>
  <a href="https://github.com/cdelauder/ghrepo" class="project-pic" target="blank"><%= image_tag 'ghrepo.png' %></a>
  <p class="project-description">ghrepo is a gem available through <a href="http://rubygems.org/gems/ghrepo" target="blank">RubyGems</a> which allows users to create and clone a repository without leaving the command lines. Using optional flags you can also generate a rails app or an index.html page and automatically push those as your initial commit. This project was built entirely in Ruby.</p>
</div>
<div class="project">
  <h2 class="project-name"><a href="https://red-admirals-2014.github.io/game-buzz" target="blank">GameBuzz</a></h2>
  <a href="https://red-admirals-2014.github.io/game-buzz" class="project-pic" target="blank"><%= image_tag 'GameBuzz.png' %></a>
  <p class="project-description">GameBuzz is a 2 player head to head trivia game. GameBuzz is entriely client-side Javascript with a Firebase database. The biggest challenge was teaching Javascript to behave sychronously when we needed it to.&nbsp&nbsp<a href="https://github.com/cdelauder/gameBuzz" target="blank" class="project-source">source</a></p>
</div>
<div class="project">
  <h2 class="project-name"><a href="http://limitless-journey-2458.herokuapp.com" target="blank">Boot Overflow</a></h2>
  <a href="http://limitless-journey-2458.herokuapp.com" class="project-pic" target="blank"><%= image_tag 'Boot_Overflow.png' %></a>
  <p class="project-description">Boot Overflow is our take on Stack Overflow. We used the premise as a way for Dev Bootcamp students to post questions to each other. We used polymorphic associations in our database to account for the votes. It is Rails app bult mostly in rails with a little Javascript.&nbsp&nbsp<a href="https://github.com/cdelauder/bootOverflow" target="blank" class="project-source">source</a></p>
</div>
<div class="project">
  <h2 class="project-name"><a href="http://twitterglitter.herokuapp.com/" target="blank">Glitter</a></h2>
  <a href="http://twitterglitter.herokuapp.com/" class="project-pic" target="blank"><%= image_tag 'Glitter.png' %></a>
  <p class="project-description">Glitter is a uniquely styled Twitter clone. Glitter is built in Ruby on a Sinatra platform. We implemented responsive design and a global search.&nbsp&nbsp<a href="https://github.com/cdelauder/twitter_glitter" target="blank" class="project-source">source</a></p>
</div>
<div class="project">
  <h2 class="project-name"><a href="http://protected-ridge-7148.herokuapp.com/" target="blank">Why Haven't You Introduced Us?</a></h2>
  <a href="http://protected-ridge-7148.herokuapp.com/" class="project-pic" target="blank"><%= image_tag 'Introduce_Me.png' %></a>
  <p class="project-description">This was a major solo project where I was trying to create a Tinder-like app that would show you exclusively friends of your friends. I eventually discovered that due to recent privacy policy changes, this information was no longer accessible. I decided to build it anyway, in order to learn how to build the UI, and manipulate the Facebook API, and to only display my own photos.&nbsp&nbsp<a href="https://github.com/cdelauder/introduceus" target="blank" class="project-source">source</a></p>
</div>